<footer>
    <div class="contact">
        <p class="title">Contact</p>
        <div class="flex-container">
            <img [src]="'./assets/svg/email-svgrepo-com.svg'" width="30px"  alt="icon">
            <p class="text">contact@cancunadventures.com</p>
        </div>
        <div class="flex-container">
            <img [src]="'./assets/svg/phone-svgrepo-com.svg'" width="30px" alt="icon">
            <p class="text">+52 99 88 67 62 21</p>
        </div>
    </div>
    <div class="social">
        <p class="title">Social</p>
        <img [src]="'./assets/svg/whatsapp-svgrepo-com.svg'" width="30px" alt="icon">
        <img [src]="'./assets/svg/facebook-svgrepo-com.svg'" width="30px" alt="icon">
        <img [src]="'./assets/svg/instagram-167-svgrepo-com.svg'" width="30px" alt="icon">
    </div>
    <div class="info">
        <p class="title">Cancun Adventures S.A de C.V</p>
        <p class="text">Cancun, Quintana Roo, 77500</p>
        <p class="text">&copy; Copyright 2023</p>
    </div>
</footer>