<app-header></app-header>
<div class="container">
    <img class="main-img" [src]="'./assets/img/relaxation-night-water-house-reef.jpg' " alt="Imagen">
    <div class="title-blur">
        <p class="big-title">EL CARIBE MEXICANO</p>
    </div>
</div>
<app-tours-list></app-tours-list>
<div class="container">
    <img class="main-img" [src]="'./assets/img/beautiful-paradise-island-with-sea-beach-landscape.jpg'" alt="Imagen">
    <div class="absolute">
        <p class="big-title">VIVE LA EXPRERIENCASsssss</p>
    </div>
</div>
<app-footer></app-footer>
