.title {
  font-size: 4rem;
  color: white;
  font-family: Georama, sans-serif;
  padding-top: 5vh;
  width: 80%;
  text-align: center;
  height: 20vh;

}

.blur-container {
  background-color: rgba(223, 223, 223, 0.568);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 2rem;
  width: 25vw;
  height: 62vh;
  border-radius: 1rem;



}


.label {
  color: white;
  font-family: Georama, sans-serif;
  font-size: 1.5rem;
  place-self: start;
  padding-left: 2.5%;

}

.container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;

}


.submit {
  width: 60%;
  height: 2.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: #4391B1;
  color: white;
  border: none;
  font-family: Georama, sans-serif;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  transition: transform 0.5s ease;
  margin: 1rem;
}

.submit:hover {
  background-color: #235fa5c9;
  transform: scale(1.1);
}

.submit:focus {
  outline: none;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3);
}


.input {

  margin-bottom: 1rem;
  width: 90%;
  height: 1.5rem;
  font-size: 1rem;
  font-family: Georama, sans-serif;
  border: 2px solid #949494;
  border-radius: 5px;
  padding: 5px;
  color: #333;
  background-color: #f5f5f5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
}

.input:hover {
  transition: transform 0.5s ease;
  transform: scale(1.02);
}


.input:focus {
  transform: scale(1.02);
  outline: none;
  border-color: #279cfc;
  box-shadow: 0 2px 8px rgba(11, 118, 206, 0.5);
}


.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.7);


}

.text,
.link {
  font-family: Georama, sans-serif;
  font-size: 1rem;
  color: white;
  margin-top: 1rem
}

.link {
  display: inline-block;
  transition: transform 0.1s ease;
}

.link:hover {
  transform: scale(1.05);
}


@media screen and (max-width:1200px) {

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7);


  }

  .blur-container {
    background-color: rgba(223, 223, 223, 0.568);
    display: grid;
    grid-template-columns: 1fr;

    padding: auto;

    width: 40vw;
    height: 60vh;
    border-radius: 1rem;
    place-items: center;

  }

  .container {
    display: grid;

    grid-template-columns: 1fr;


  }

  .title {
    font-size: 4rem;
    color: white;
    font-family: Georama, sans-serif;
    padding: 4vh;
    width: 80%;
    text-align: center;
    height: 20vh;

  }
}

@media screen and (max-width:960px) {
  .blur-container {
    background-color: rgba(223, 223, 223, 0.568);
    display: grid;
    grid-template-columns: 1fr;

    padding: auto;

    width: 50vw;
    height: 60vh;
    border-radius: 1rem;
    place-items: center;

  }

}


@media screen and (max-width:720px) {

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7);


  }

  .blur-container {
    background-color: rgba(223, 223, 223, 0.568);
    display: grid;
    grid-template-columns: 1fr;

    padding: auto;

    width: 70vw;
    height: 60vh;
    border-radius: 1rem;
    place-items: center;

  }

  .container {
    display: grid;

    grid-template-columns: 1fr;


  }

  .title {
    font-size: 4rem;
    color: white;
    font-family: Georama, sans-serif;
    padding: 4vh;
    width: 80%;
    text-align: center;
    height: 20vh;

  }


}


@media screen and (max-width:480px) {
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7);


  }

  .blur-container {
    background-color: rgba(223, 223, 223, 0.568);
    display: grid;
    grid-template-columns: 1fr;

    padding: auto;

    width: 70vw;
    height: 60vh;
    border-radius: 1rem;
    place-items: center;

  }

  .container {
    display: grid;

    grid-template-columns: 1fr;


  }

  .title {
    font-size: 4rem;
    color: white;
    font-family: Georama, sans-serif;
    padding: 4vh;
    width: 80%;
    text-align: center;
    height: 20vh;

  }

}
