
<div class="flex">

<div class="container">
    <div class="c1">
        <h3>Gerardo Cámara</h3>
        <img src="https://static.vecteezy.com/system/resources/previews/018/765/757/non_2x/user-profile-icon-in-flat-style-member-avatar-illustration-on-isolated-background-human-permission-sign-business-concept-vector.jpg" alt="image">
    </div>
    <div class="c2">
        <p>camaragerardo2000@gmail.com</p>
        <p>998899817171</p>
    </div>
    <div class="c3">
        <button (click)="logout()">Cerrar sesión</button>
    </div>
</div>
</div>
